#video_part  {
    width: 90%;
    margin: auto;
    text-align: center;
    /* padding: 0 50px; */
}
#video_part >header{
    width: 70%;

    padding: 0 30px;
     margin: 60px auto;
}
#video_part >div{
 width: 100%;
 margin: auto;
 
}
#video_part >div >iframe{
    border-radius: 10px;
}